name: IoT Telemetry Platform CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10  # <-- Kills the job if it takes longer than 10 mins

    # Define a Service for the Database and Cache
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        # Health check to ensure DB is ready before tests start
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
      # ADD THIS REDIS BLOCK
      redis:
        image: redis:alpine
        ports:
          - 6379:6379
        # Health check ensures Redis is ready before tests start
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '24.11.1'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    # Set up environment variables for the test run
    - name: Run Tests
      env:
        NODE_ENV: development
        DATABASE_URL_LOCAL: postgres://test_user:test_password@localhost:5432/test_db
        DATABASE_URL: postgres://test_user:test_password@localhost:5432/test_db #Used for Prisma.config.ts
        JWT_SECRET: "super_secret_test_key"
        PORT: 3000
        REDIS_URL_LOCAL: "redis://localhost:6379"
        FRONTEND_URL_LOCAL: "http://localhost:5173"
      run: |
        npx prisma migrate dev --name init # Create schema in test DB
        npx prisma generate
        npx tsx src/seed.ts
        npm test